* {
    Margin:0;
    padding:0;
}


@font-face{
    font-family: 'roboto' ;/* el nombre que yo quiero que tenga la font*/
    src: url('../assets/fonts/Roboto-Regular.ttf') /* la ruta donde esta la font*/
    
}
@font-face {
    font-family: 'brittany';
    src: url('../assets/fonts/BrittanySignature.ttf');
}
@font-face {
    font-family: 'adelia';
    src: url('../assets/fonts/adelia.ttf');
}
@font-face {
    font-family: 'bluna';
    src: url('../assets/fonts/BLunaPienaDemo.ttf');
}
@font-face {
    font-family: 'butter';
    src: url('../assets/fonts/BUTTERSHINE\ SCRIPT.ttf');
}
@font-face {
    font-family: 'cherolina';
    src: url('../assets/fonts/Cherolina.ttf');
}
@font-face {
    font-family: 'samantha';
    src: url('../assets/fonts/samantha.ttf');
}
/*
.tipografiaMenu { 
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}*/

/*=====================================APLICACION A TODAS LAS PAGINAS=======================================*/
body{
    background-color: #aba08a;
}


.miHeader{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(2,auto);
    /*align-items: center;*/
    justify-items: center;
    background-color: black;
    padding: 15px 10px;
    /*width: 100%;/*
    
    /*justify-content: center;*/
    
}

.redesHeader{
    grid-column: 10;
    display: flex;
    text-decoration: none;
    align-items: start;
    list-style: none;
    padding: 0 10px;
    margin-right: 10px;
}

.redesHeader img{
    margin-top: 15px;
    padding: 0 10px;
    width: 20px;
    height: 20px;
    }

.titleHeader{
    grid-column: 4/9;
    grid-row: 1/2;
    align-items: center;
    justify-items: center;
}
.titleHeader h1 a{
    /*display: flex;*/
    font-family: 'brittany';
    text-decoration: none;
    /*text-align: center;*/
    font-size: 40px;
    /*justify-content: center;*/
    color: white;   
    margin: 5px;
    
    
}

.navBarHeader{
    grid-column: 1/11;
    grid-row: 2;
    padding: 10px;
    margin-top: 15px;
}

.navBarHeader ul li a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 15px;
    color: white;
    padding: 15px 20px;
    margin-top: 5px;
    
}

.flexBarHeader{
    display: flex;
    justify-content: center;
    list-style: none;
}
/*li {
    display: inline-block;
    
}*/
.navBarHeader a:hover{
    background-color: #aba08a;
    color: black;
    animation-duration: 5s;
}
.miFooter{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(4,auto);
    background-color: black;
    /*padding-bottom: 614px;*/
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    /*width: 100%;*/
}

.titleFooter{
    /*display: flex;*/
    /*justify-content: right;*/
    /*padding-right: 180px;*/
    color:#F5BE51;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5px; 
    font-size: smaller;
    grid-column: 10;
    grid-row: 2;
    
}

.navBarFooter{
    grid-column: 1/11;
    grid-row: 1;
    padding-top: 30px;
}

.navBarFooter a:hover{
    text-decoration: underline;
    
}

.navBarFooter ul li a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    
    /*margin-left: 4px;
    margin-right: 4px;*/
    
    font-size: 15px;
    justify-content: center;
    color: #F5BE51;
    padding: 15px 20px;
    
    
}

.flexBarFooter{
    display: flex;
    justify-content: center;
    list-style: none;
}


.miFooter p{
    grid-column: 1/11;
    grid-row: 4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    text-align: center;
    justify-items: center;
    align-items: end;
    color: white;
    margin-top: 20px;
    
}
.redesFooter{
    grid-column: 10;
    grid-row: 3;
    display: flex;
    text-decoration: none;
    align-items: start;
    list-style: none;
    padding: 0 10px;
    margin-right: 10px;
}
.redesFooter img{
    margin-top: 15px;
    padding: 0 10px;
    width: 20px;
    height: 20px;
    }


.burgerMenu{
    display: none;
    grid-column: 1;
    grid-row: 2;
    

    }
.burgerMenu img{
    width: 20px;
    

}
/*=========================================================================================================*/

/*==========================================APLICACION DE BEM INDEX========================================*/
.mainIndex{
    background-color: black;
    margin: 0 auto;
    padding: 0 5px;
}
.portada{
    
    padding: 25px 10px;
    
}

.portada__imagen {
    /*display: flex;*/
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-decoration: none;
    /*justify-content: space-between;*/
    /*overflow: hidden;*/
    justify-content: center;
    grid-column-gap: 10px;

}
.portada__imagen img{
    width: 270px;
    
}
/*=========================================================================================================*/

/*=================================================CONTACTO================================================*/
.mainContac{
    width: 90%;
    margin: 0 auto;
}

.bloque{
    margin: 35px;
}

.formulario{
    background-color: #cccccc ;
}

.formulario h2 {
    text-align: center;
    margin: 5px;
    padding: 10px 0;
    font-family: 'roboto';
}

.formulario h4{
    text-align: center;
    padding: 10px 0;
    font-family: 'roboto';
}

.comentario{
    text-align: center;
    padding: 10px 10px;
}

.formulario h6{
    text-align: center;
    padding: 10px 0;
    font-family: 'roboto';
}

.formulario ul li{
    text-decoration: none;
    display: inline;
}

.formulario ul{
    text-align: center;
}

.gridImput{
    display: grid;
    grid-template-columns: 480px auto 300px;
    justify-items: start;
    
}
.gridImput--p p{
    padding: 10px 0;
    font-family: 'roboto';
}
/*=========================================================================================================*/

/*====================================================BIO==================================================*/
.mainBio{
    width: 90%;
    margin: 0 auto;
}
.gridBio{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin: 40px 0;
    padding: 10px;
    grid-row-gap: 60px;
    grid-column-gap: 20px;
    
}

.bio1 {
    grid-column: 1;
    grid-row: 1;
    margin: 10px;
    font-family: 'roboto';
    text-align: justify;
    font-size: 90%;
    align-items: center;
    justify-items: center;
    text-align: justify;
}
.imgBio1{
    margin: 10px;
    width: 480px;
    grid-column: 2;
    grid-row: 1;
    align-items: center;
    justify-items: center;
}
.imgBio2{
    margin: 10px;
    width: 480px;
    grid-column: 1;
    grid-row: 2;
    align-items: center;
    justify-items: center;
}
.bio2 {
    grid-column: 2;
    grid-row: 2;
    margin: 10px;
    font-family: 'roboto';
    text-align: justify;
    font-size: 90%;
    align-items: center;
    justify-items: center;
    text-align: justify;
}

/*==========================================================================================================*/
/*====================================================MUSICA================================================*/
/*
.mainMusica{
    width: 90%;
    max-width: 850px;
    margin: 0 auto;
}
*/
.gridMusicRep{
    margin-inline: 100px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: auto auto;
    
    grid-column-gap: 300px;
    grid-template-areas: "rep1 rep2";
    justify-items: stretch;
    justify-content: center;
    padding: 10px;
/*    
    max-width: 400px;
    margin: 40px 100px;
    padding: 10px;
    */
}

.gridVideosRep{
    margin: 40px 40px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-items: stretch;
    align-items: center;
    justify-content: center;
    grid-column-gap: 30px;
    grid-row-gap: 15px;
}

/*
.videosRep{
    display: flex;
    justify-content: space-around;
    margin: 40px 40px;
    padding: 10px;
    
}
*/
/*
.videosRep iframe{
    margin: 0 10px;
    padding: 10px;
}
*/

/*==========================================================================================================*/

/*====================================================COACHVOCAL============================================*/
.mainCoach{
    width: 90%;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 65px;
    
}
.coach{
    margin: 40px 0;
    padding: 10px;
}
.coach p{
    margin: 10px;
    font-family: 'roboto';
    text-align: justify;
    font-size: 90%;
}
.coachVideo{
    display: flex;
    justify-content: center;
}
/*====================================================MEDIAQUERIES==========================================*/
@media screen and (max-width: 849px) {
    .navbar{
        position: relative;
    }

.titleHeader h1 a{
    width: 90% ;
    
}
.titleHeader{
    justify-content: center;
}

.flexBarHeader{
    display: none;
    }

.titleHeader{
    grid-column: 1/11;
    grid-row: 1/2;
    align-items: center;
    justify-items: center;
}

.portada__imagen .img1{
    display: none;
}
.portada__imagen .img2{
    display: none;
}
.portada__imagen .img4{
    display: none;
}
.portada__imagen .img5{
    display: none;
}
.portada__imagen .img3{
    grid-column: 1/6;
    width: 100%;
    justify-content: center;
    grid-column-gap: none;
    
}
.portada__imagen {
    grid-column-gap: none;
}

.burgerMenu{
    display: block;
    grid-column: 1;
    grid-row: 2;
    justify-items: center;
    align-items: center;

    }
.burgerMenu img{
    width: 30px;
    

}

.titleFooter{
    display: none;
}

.flexBarFooter{
    display: none;
}
.redesFooter{
    grid-column: 1/11;
    grid-row: 3;
    justify-items: center;
    justify-content: center;
    margin: 0 10px;
}
.redesHeader{
    display: none;
}




}

@media screen and (max-width: 1080px) {


    .gridBio{
        
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        margin: 40px;
        padding: 10px;
        grid-row-gap: 60px;
        grid-column-gap: 20px;
        
    }
    
    .bio1 {
        
        grid-column: 1;
        grid-row: 2;
        margin: 10px;
        font-family: 'roboto';
        text-align: justify;
        font-size: 90%;
        align-items: center;
        justify-items: center;
        text-align: justify;
    }
    .imgBio1{
        
        margin: 10px;
        width: 100%;
        grid-column: 1;
        grid-row: 1;
        align-items: stretch;
        justify-items: stretch;
    }
    .imgBio2{
        
        margin: 10px;
        width: 100%;
        grid-column: 1;
        grid-row: 3;
        align-items: stretch;
        justify-items: stretch;
    }
    .bio2 {
        grid-column: 1;
        grid-row: 4;
        margin: 10px;
        font-family: 'roboto';
        text-align: justify;
        font-size: 90%;
        align-items: center;
        justify-items: center;
        text-align: justify;
    }
    
}
@media screen and (max-width: 1310px){

.gridMusicRep{
    
    display: block;
        
}
.gridMusicRep div{
    position: relative;
    padding: 15px 0;
}

.gridVideosRep{
    
    display: block;
    /*grid-template-columns: auto ;
    grid-template-rows: repeat(6,auto);
    justify-items: stretch;
    align-items: center;
    width: 90%;
    grid-column-gap: 30px;
    grid-row-gap: 15px;*/
}
.gridVideosRep div{
    position: relative;
    height: 0px;
    padding-bottom: 56.25%;
    margin: 15px 0;
}
.gridVideosRep div iframe{
    position: absolute;
    margin: 15px 0;
    
    height: 100%;
    width: 100%;
}

.gridImput{
    display: grid;
    grid-template-columns: none;
    grid-template-rows: none;
    justify-items: center;
    
}







}
@media screen and (max-width: 637px){

.coachVideo{
    position: relative;
    height: 0px;
    padding-bottom: 56.25%;
    margin: 15px;
}
.coachVideo iframe{
    position: absolute;
    margin: 15px 0;
    
    height: 100%;
    width: 100%;
}

}
@media (min-width:850px) and (max-width:1024px){



    .titleHeader h1 a{
        width: 90% ;
        
    }
    .titleHeader{
        justify-content: center;
    }
    
    .titleHeader{
        grid-column: 4/10;
        grid-row: 1/2;
        align-items: center;
        justify-items: center;
    }
    
    .portada__imagen .img1{
        display: none;
    }
    .portada__imagen .img2{
        grid-column: 2;
        width: 90%;
        justify-content: center;
        grid-column-gap: none;
    }
    .portada__imagen .img4{
        grid-column: 4;
        width: 90%;
        justify-content: center;
        grid-column-gap: none;
    }
    .portada__imagen .img5{
        display: none;
    }
    .portada__imagen .img3{
        grid-column: 3;
        width: 90%;
        justify-content: center;
        grid-column-gap: none;
        
    }
    .portada__imagen {
        grid-column-gap: none;
    } 
    .titleFooter{
        display: none;
    }
    
    .flexBarFooter{
        display: none;
    }
    .redesFooter{
        grid-column: 1/11;
        grid-row: 3;
        justify-items: center;
        justify-content: center;
        margin: 0 10px;
    } 
}